.port_con {
    max-width: 1920px;
    height: 700px;
    background-color: rgba(242, 242, 242, 1);
    margin: 0 auto;
    overflow: hidden;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;

    & .port_title {
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        margin-top: 19px;
    }

    & .port_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        & .port_items {
            margin-top: 60px;

            & img {
                width: 200px;
                height: 200px;
                border-radius: 20px;
                object-fit: cover;
            }

            & p {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .port_con {
        height: auto;
        margin: 30px 0;

        & .port_list {
            grid-template-columns: 1fr;
            padding: 20px;

            & .port_items {
                width: 100%;

                & img {
                    width: 100%;
                    
                }
            }
        }
    }
    
}